.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-bottom: 2px solid rgb(78, 77, 82);
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.cardTitle {
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.cardText {
  font-size: 18px;
}

.imgCard {
  max-width: 100%;
  height: 100%;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5vw;
}
.readMoreLink {
  color: rgb(0 220 255);
}
