header {
  position: fixed;
  z-index: 1;
  background-color: hsl(225, 6%, 13%);
  width: 100%;
  justify-content: flex-start;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
}
#icon {
  margin-left: 20px;
  width: 48px;
  height: 48px;
}
#newsName {
  text-align: center;
  font-size: 25px;
  margin-top: 3.5em;
}

nav ul {
  display: flex;
}

.list {
  list-style: none;
  margin-right: 20px;
  transition-duration: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #000000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #061f58af;
  border-radius: 5px;
}
