:root {
  --primary-color: #191919;
  --secondary-color: #ecdbba;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .img-holder {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .card-body-container {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
